<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="X-UA-Compatible" content="ie=edge">
  <title></title>
</head>
<body>
 <table>
   <thead>
     <tr>
       <th scope="col">id</th>
       <th scope="col">email</th>
       <th scope="col">hash</th>
     </tr>
   </thead>
   <tbody>
     {% for user in users %}
     <tr>
       <th scope="row">{{ user.id }}</th>
       <td>{{ user.email }}</th>
       <td>{{ user.hash }}</th>
     </tr>
     {% endfor %}
   </tbody>
 </table>
 <table>
   <thead>
     <tr>
       <th scope="col">id</th>
       <th scope="col">filename</th>
       <th scope="col">mimetype</th>
     </tr>
   </thead>
   <tbody>
     {% for file in files %}
     <tr>
       <th scope="row">{{ file.id }}</th>
       <td>{{ file.filename }}</td>
       <td>{{ file.mimetype }}</td>
       <td>{{ file.hash }}</td>
     </tr>
     {% endfor %}
   </tbody>
 </table>
 <table>
   <thead>
     <tr>
       <th scope="col">id</th>
       <th scope="col">user_email</th>
       <th scope="col">filename</th>
       <th scope="col">remote_addr</th>
       <th scope="col">datetime</th>
     </tr>
   </thead>
   <tbody>
     {% for log in logs %}
     <tr>
       <th scope="row">{{ log.id }}</th>
       <td>{{ log.user.email }}</th>
       <td>{{ log.file.filename }}</td>
       <td>{{ log.remote_addr }}</td>
       <td>{{ log.timestamp }}</td>
     </tr>
     {% endfor %}
   </tbody>
 </table>
</body>
</html>
